
<div class="header">
	<h1><%= @author.first_name %> <%= @author.last_name %></h1>
</div>

<div class="content">
	<h2 class="content-subhead"></h2>
	<p id="notice"><%= notice %></p>
	
	<% for post in @author.posts %>
		<section class="post">
			<header class="post-header">
				<div class="calendar-date">
					<div class="calendar-date-month"><%= Date::ABBR_MONTHNAMES[post.date.month] %></div>
					<div class="calendar-date-day"><%= post.date.mday %></div>
				</div>
				<%= image_tag @author.avatar.url, :class => "post-avatar" %>
				<h2 class="post-title"><%= post.title %></h2>
				<p class="post-meta">By <%= @author.first_name %> <%= @author.last_name %></p>
			</header>
			<div class="post-description">
				<p>
					<%= post.body %>
				</p>
			</div>
		</section>
	<% end %>

	<%= link_to 'Edit profile', edit_author_path(@author) %>

</div>
