<div class="header">
	<h1>Sign in</h1>
</div>

<div class="content">
	<h2 class="content-subhead"></h2>
	
	<%= form_for(resource, :as => resource_name, :html => {:class => 'pure-form pure-form-aligned'}, :url => session_path(resource_name)) do |f| %>
	<fieldset>
		<div class="pure-control-group">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true %>
		</div>

		<div class="pure-control-group">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div class="pure-controls">
			<% if devise_mapping.rememberable? -%>
			<div>
				<%= f.check_box :remember_me %> <%= f.label :remember_me %>
			</div>
			<br>
			<% end -%>

			<div>
				<%= f.submit "Sign in", :class => 'pure-button button-uh' %>
			</div>
			
			<%= render "devise/shared/links" %>
			
		</div>
		<% end %>

	</fieldset>
</div>
