<div class="header">
	<h1><%= @post.title %></h1>
	<% @author = Author.find(@post.author_id) %>
	<% author_name = @author.first_name + " " + @author.last_name %>
	<h2>By <%= link_to author_name, @author %></h2>
	<h4><%= @post.date.strftime("%B, %d %Y") %></h4>
</div>		
	
	
<div class="content">
	<h2 class="content-subhead"></h2>
	<p id="notice"><%= notice %></p>	
	<p>		
		<%= @post.body.html_safe %>	
	</p>		
		
		
	<% if author_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post) %>
	<% end %>

</div>