<!DOCTYPE html>
<html>
<head>
	<title>CougarCS</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>

		<div id="menu">
			<div class="pure-menu pure-menu-open">
				<a class="pure-menu-heading" href="/">CougarCS</a>

				<ul>
					<!-- class="pure-menu-selected" -->
					<%= nav_link_to 'Home', "/", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'About', "/about", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Contact us', "/contact", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Officers', "/officers", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Hackathons', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Social events', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Calendar', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Business contact form', "/business_contact_form", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'CougarCS sponsors', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Become a member', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Members showcase', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'Lightning talks', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
					<%= nav_link_to 'UH CS news', "#", {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
				</ul>
			</div>
		</div>

		<div id="main">
			<% if notice %>
				<p class="notice"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert"><%= alert %></p>
			<% end %>
			<%= yield %>
		</div>

	</div>
	
<script src="http://purecss.io/combo/1.17.4?/js/ui.js"></script>

</body>
</html>
