<!DOCTYPE html>
<html>
<head>
	<title>CougarCS</title>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>

		<div id="menu">
			<div class="pure-menu pure-menu-open">
				<a class="pure-menu-heading" href="/">
					CougarCS
					<% if request.subdomain == 'members' %>
					<span class="subdomain-heading">members</span>
					<% end %>
					
					<% if request.subdomain == 'business' %>
					<span class="subdomain-heading">business</span>
					<% end %>
				</a>

				<ul>
					<!-- <#= render 'nav' %> -->
					<%= get_navigation_for(request.subdomain).html_safe %>
				</ul>
			</div>
		</div>
		
		<div id="main">
			
			<% if author_signed_in? %>
				<div class="extra-header">
					<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
						<ul>
							<%= nav_link_to 'New post', new_post_path, {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
							<%= nav_link_to 'Edit my profile', edit_author_path(current_author), {}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
							<%= nav_link_to 'Sign out', destroy_author_session_path, {:method => :delete}, {:selected_class => 'pure-menu-selected', :wrapper => 'li'} %>
						</ul>
					</div>
				</div>
			<% end %>
			
			<% if notice %>
				<p class="notice"><i class="fa fa-info-circle"> </i> <%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert"><i class="fa fa-exclamation-circle"> </i> <%= alert %></p>
			<% end %>
			
			<%= yield %>
		</div>

	</div>
	
<script src="http://purecss.io/combo/1.17.4?/js/ui.js"></script>

</body>
</html>
